#**Fish Species Prediction**

In [1]:
# Step 1 : import library
import pandas as pd

In [2]:
# Step 2 : import data
fish =pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')

In [3]:
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [4]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [5]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [6]:
# Step 3 : define y and X

In [7]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [8]:
y = fish['Species']
X = fish[['Category', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [9]:
# Step 4 : train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [10]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((111, 7), (48, 7), (111,), (48,))

In [11]:
# Step 5 : select model
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [12]:
# Step 6 : train or fit model
model.fit(X_train , y_train)

KNeighborsClassifier()

In [13]:
# Step 7 : predict model
y_pred=model.predict(X_test)

In [14]:
# Step 8 : model accuracy
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [15]:
accuracy_score(y_test,y_pred)

0.5

In [16]:
confusion_matrix(y_test,y_pred)

array([[ 7,  1,  0,  3,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0],
       [ 6,  0, 10,  1,  0,  0,  0],
       [ 3,  2,  0,  0,  0,  0,  0],
       [ 1,  1,  4,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  6,  0],
       [ 0,  1,  0,  0,  0,  0,  0]])

In [17]:
classification_report(y_test,y_pred)

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

'              precision    recall  f1-score   support\n\n       Bream       0.41      0.64      0.50        11\n      Parkki       0.00      0.00      0.00         1\n       Perch       0.67      0.59      0.62        17\n        Pike       0.00      0.00      0.00         5\n       Roach       1.00      0.14      0.25         7\n       Smelt       1.00      1.00      1.00         6\n   Whitefish       0.00      0.00      0.00         1\n\n    accuracy                           0.50        48\n   macro avg       0.44      0.34      0.34        48\nweighted avg       0.60      0.50      0.50        48\n'